<form action="/users" method = "post" accept-charset="UTF-8">  

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="username">user name:</label>
  <input type="text" id="Username" name="user[username]">  

<label for="Email">Email:</label>
  <input type="email" id="Email" name="user[email]"> 

  <label for="Password">Password:</label>
  <input type="password" id="Password" name="user[password]"> 


   <input type="submit" value="Submit">

</form>